<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="com.nomagic.requirements"
	licenseId="Cameo Requirements Modeler"
	name="Cameo Requirements Modeler"
	version="2024x"
	internalVersion="202400000"
	ownClassloader="false"
	class-lookup="GlobalFirst"
	provider-name="No Magic"
	class="com.nomagic.requirements.RequirementsPlugin">

	<requires>
		<api version="1.0"/>
	    
		<required-plugin id="com.nomagic.magicdraw.glossary" name="Glossary" version="2024x"/>
		<required-plugin id="com.nomagic.magicdraw.visualization.relationshipmap" name="Relation Map" version="2024x"/>
		<required-plugin id="com.nomagic.magicdraw.suspect" name="Suspect Links" version="2024x"/>
		<required-plugin id="com.nomagic.magicdraw.diagramtable" name="Diagram Table" version="2024x"/>
		<required-plugin id="DependencyMatrixPlugin" name="Dependency Matrix" version="2024x"/>

	</requires>

	<runtime>
		<library name="lib/com.nomagic.magicdraw.sysml-2024.0.0-86-7321dda1.jar"/>
		<library name="requirements.jar"/>
		<library name="requirements_api.jar"/>
	
	</runtime>



</plugin>
